<div class="side-nav-container">
  <div class="nav flex-column nav-pills" role="tablist">
    <button class="nav-link" 
            [class.active]="activeTab === 'home'"
            (click)="navigateToTab('home')">
      <i class="bi bi-house-door"></i>
      <span>Home</span>
    </button>
    <button class="nav-link" 
            [class.active]="activeTab === 'first'"
            (click)="navigateToTab('first')">
      <i class="bi bi-1-circle"></i>
      <span>First</span>
    </button>
    <button class="nav-link" 
            [class.active]="activeTab === 'second'"
            (click)="navigateToTab('second')">
      <i class="bi bi-2-circle"></i>
      <span>Second</span>
    </button>
    <button class="nav-link" 
            [class.active]="activeTab === 'user-management'"
            (click)="navigateToTab('user-management')">
      <i class="bi bi-3-circle"></i>
      <span>User Management</span>
    </button>
  </div>
</div> 